<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript">
        // 创建自定义模块 pinyougou
        // 由于当前模块需要使用分页功能,故引入 pagination 模块
        var pyg = angular.module('pinyougou', ['pagination']);

        // 在模块中添加品牌列表管理控制器 brandController
        pyg.controller('brandController', function ($scope, $http) {

            // 在控制器中添加查询所有品牌列表的方法
            $scope.findAll = function () {
                // 使用内置服务 $http 去后端查询数据
                $http.get('../brand/findAll.do').success(
                    function (response) {
                        // response 就是后台返回的 json 格式存储的品牌列表数据
                        $scope.brandList = response;
                    }
                );
            };

            // 分页控件配置
            // currentPage：当前页,初始为第 1 页,当用户切换页面时,这个值自动改变
            // totalItems：总记录数
            // itemsPerPage：每页显示的记录数,前端可随时修改
            // perPageOptions：提供给用户选择的每页记录数窗口
            // onChange：当用户切换页面时,自动调用 onChange 指定的方法
            $scope.paginationConf = {
                currentPage: 1,
                totalItems: 10,
                itemsPerPage: 5,
                perPageOptions: [5, 10, 15, 20, 25],
                onChange: function () {
                    $scope.reloadList(); // 刷新品牌列表
                }
            };

            // 刷新品牌列表
            $scope.reloadList = function () {
                $scope.search($scope.paginationConf.currentPage, $scope.paginationConf.itemsPerPage);
            };

            // 添加品牌分页查询的方法
            $scope.findPage = function (page, size) {
                $http.get('../brand/findPage.do?page=' + page + '&size=' + size).success(
                    function (response) {
                        // 修改当前页数据
                        $scope.brandList = response.rows;
                        // 修改总记录数
                        $scope.paginationConf.totalItems = response.total;
                    }
                );
            };

            $scope.searchEntity = {};

            // 多条件品牌分页查询
            $scope.search = function(page, size) {
                $http.post('../brand/search.do?page=' + page + '&size=' + size, $scope.searchEntity).success(
                    function (response) {
                        // 修改当前页数据
                        $scope.brandList = response.rows;
                        // 修改页码
                        $scope.paginationConf.currentPage = page;
                        // 修改总记录数
                        $scope.paginationConf.totalItems = response.total;
                    }
                );
            };

            // 保存品牌(可能是新增品牌，可能是修改品牌)
            $scope.save = function () {
                var action = 'add';
                if ($scope.brandEntity.id != null) {
                    // id 不为空，说明是修改品牌
                    action = 'update';
                }

                $http.post('../brand/' + action + '.do', $scope.brandEntity).success(
                    function (response) {
                        if (response.success) {
                            // 保存成功
                            // 刷新当前页
                            $scope.reloadList();
                        } else {
                            // 保存失败, 提示错误信息
                            alert(response.message);
                        }
                    }
                );
            };

            // 根据品牌 ID 查询品牌信息
            $scope.findOne = function (id) {
                $http.get('../brand/findOne.do?id=' + id).success(
                    function (response) {
                        // 将查询到的数据显示在修改框中
                        $scope.brandEntity = response;
                    }
                );
            };

            // 批量删除品牌
            // 创建集合，保存用户勾选的要删除的品牌的 ID
            $scope.selectedList = [];
            // 监听用户勾选
            $scope.updateSelected = function ($event, id) {
                if ($event.target.checked) {
                    // 用户将复选框从无勾成有，表示要删除
                    $scope.selectedList.push(id);
                } else {
                    // 用户将复选框从有勾成无，表示不想删除了
                    // 查找到这个元素，将其下标保存在 index 中
                    var index = $scope.selectedList.indexOf(id);
                    // 在集合中找到下标为 index 的位置,从这个位置开始,删除 1 个元素
                    $scope.selectedList.splice(index, 1);
                }
            };

            // 监听删除按钮
            $scope.batchDelete = function () {
                if ($scope.selectedList.length === 0) {
                    alert("请选择要删除的内容");
                } else {
                    $http.get('../brand/batchDelete.do?ids=' + $scope.selectedList).success(
                        function (response) {
                            if (response.success) {
                                // 删除成功
                                // 刷新当前页
                                $scope.reloadList();
                            } else {
                                // 删除失败
                                alert(response.message);
                            }
                        });

                    // 删除成功后，要清空集合
                    $scope.selectedList = [];
                }
            };
        });
    </script>

</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="brandController">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">品牌管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#editModal" ng-click="brandEntity={}"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" ng-click="batchDelete()"><i
                            class="fa fa-trash-o"></i> 删除
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                品牌名称:<input ng-model="searchEntity.name"> 品牌首字母:<input ng-model="searchEntity.firstChar"> <button class="btn btn-default" ng-click="search(1,paginationConf.itemsPerPage)">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">品牌ID</th>
                <th class="sorting">品牌名称</th>
                <th class="sorting">品牌首字母</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="brandItem in brandList">
                <td><input type="checkbox" ng-click="updateSelected($event,brandItem.id)"></td>
                <td>{{ brandItem.id }}</td>
                <td>{{ brandItem.name }}</td>
                <td>{{ brandItem.firstChar }}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                            ng-click="findOne(brandItem.id)">修改
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->

        <!-- 分页 -->
        <tm-pagination conf="paginationConf"></tm-pagination>


    </div>
    <!-- 数据表格 /-->


</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">品牌编辑</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped" width="800px">
                    <tr>
                        <td>品牌名称</td>
                        <td><input class="form-control" placeholder="品牌名称" ng-model="brandEntity.name"></td>
                    </tr>
                    <tr>
                        <td>首字母</td>
                        <td><input class="form-control" placeholder="首字母" ng-model="brandEntity.firstChar"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>